.wrapper-footer {
  margin: 0 auto;
  padding: 0 35px 0 35px;
  line-height: 20px;
  background: $black;
  align-items: center;
  text-align: center;
  width: 100%;
}

.footer-title {
  font-weight: 700;
  font-size: $base-font-size;
  color: $colorTextFE;
  text-transform: uppercase;
  padding-top: 38px;
  padding-bottom: 8px;
}

.footer-text {
  font-weight: 400;
  font-size: 12px;
  color: $colorTextB9;
  margin: 0;
}

.site-contact {
  padding-bottom: 47px;
  font-weight: 400;
  font-size: $base-font-size;
  line-height: 24px;
  color: $colorTextB9;
}

.contact {
  color: $colorTextB9;
}

.icons {
  display: flex;
  justify-content: center;
}

.icon {
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
  margin: 26px 4px 26px 4px;
}

.rss {
  background-image: url(/img/RSS.svg);
}

.facebook {
  background-image: url(/img/Facebook.svg);
}

.twitter {
  background-image: url(/img/Twitter.svg);
}

.dribble {
  background-image: url(/img/Dribbble.svg);
}

.pinterest {
  background-image: url(/img/Pinterest.svg);
}

.footer-text768 {
  display: none;
}

.footer-text1170 {
  display: none;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer-text768 {
    display: block;
  }
  .site-contact {
    display: flex;
    justify-content: space-around;
    width: 480px;
    margin: auto;
    padding-bottom: 56px;
  }
}

@media (min-width: 1200px) {
  .wrapper-footer {
    font-size: 16px;
  }

  .footer-info {
    padding-top: 66px;
  }

  .footer-text {
    display: none;
  }

  .site-contact {
    display: flex;
    justify-content: space-around;
    width: 480px;
    margin: auto;
    padding-bottom: 70px;
  }

  .footer-text1170 {
    display: block;
    font-size: 16px;
    line-height: 28px;
    color: $colorTextB9;
  }
}
