.header {
  display: flex;
  justify-content: space-around;
  padding: 1em 0;
  background-color: $bgMain;
  transition: 0.1s;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    background-color: $black;
    padding: 5px;

    span {
      display: block;
      height: 3px;
      transition: all 0.1s ease-out;
    }

    .burger-active span:first-child {
      transform: translateY(9px) rotate(45deg);
    }

    .burger-active span:nth-child(2) {
      opacity: 0;
    }

    .burger-active span:last-child {
      transform: translateY(-7px) rotate(-45deg);
    }
  }

  .nav {
    ul.nav-menu {
      display: flex;
      list-style: none;

      li:hover {
        background: $burgerHover;
      }

      li.nav-item {
        padding: 3px;
        text-transform: uppercase;

        &:last-child {
          margin-right: 0;
        }

        a {
          color: $colorText4E;
          text-decoration: none;

          &:hover {
            color: $colorText57;
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    .header {
      justify-content: flex-end !important;
    }

    .header-container {
      margin-right: 28px;
    }

    .burger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 44px;
      height: 32px;
      cursor: pointer;
      background-color: $black;
      padding: 5px;

      span {
        display: block;
        height: 2px;
        width: 17px;
        margin: auto;
        background-color: $white;
        transition: all 0.1s ease-out;
      }

      &.burger-active {
        span:first-child {
          transform: translateY(7px) rotate(45deg);
        }

        span:nth-child(2) {
          opacity: 0;
        }

        span:last-child {
          transform: translateY(-7px) rotate(-45deg);
        }
      }
    }

    .nav {
      position: fixed;
      top: 3em;
      right: -100%;
      width: 182px;
      background-color: rgba($burgerColor, 1);
      overflow-y: auto;
      transition: right 0.1s;

      ul.nav-menu {
        display: block;
        padding: 0;
        text-align: left;

        li.nav-item {
          text-transform: uppercase;

          &:last-child {
            margin-bottom: 0;
          }
        }

        a {
          color: $colorText4E;
          text-decoration: none;
          transition: color 0.1s;

          &:hover {
            color: $colorText57;
          }
        }
      }

      &.nav-click {
        right: 28px;
      }
    }
  }
}

@media (max-width: 767px) {
  .header {
    justify-content: flex-end !important;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header {
    padding: 0 80px 0 90px;
    margin: 42px 0 42px 0;
    font-size: 11px;
    line-height: 22px;
  }

  ul.nav-menu {
    display: flex;
    width: 610px;
    list-style: none;
    justify-content: space-between;
  }

  .nav ul.nav-menu li:hover {
    background: none;
  }
}

@media (min-width: 1200px) {
  .header {
    padding: 0 80px 0 90px;
    margin: 51px 0 51px 0;
    font-size: 11px;
    line-height: 22px;
  }

  ul.nav-menu {
    display: flex;
    width: 622px;
    list-style: none;
    justify-content: space-between;
  }

  .nav ul.nav-menu li:hover {
    background: none;
  }
}
