.header-image-container {
  margin: 0 auto;
  padding: 0 25px 0 25px;
  height: 150px;
  transition: .2s;
//   max-width: 1170px;
}

.header-image {
  height: 100%;
  width: 100%;
  background: url(/img/headerBG.svg) center/cover no-repeat;
}

@media (min-width: 768px) and (max-width: 1169px) {
    .header-image-container {
        height: 361px;
        padding: 0 80px 0 80px;
    }
}

@media (min-width: 1170px) {
    .header-image-container {
        height: 550px;
        padding: 0 70px 0 70px;
    }
}
