.posts {
  padding: 0 25px 0 25px;
}

.our-posts {
  font-weight: 700;
  font-size: 14px;
  color: $colorText4E;
  text-transform: uppercase;
  margin-top: 38px;
  margin-bottom: 23px;
}

.posts-photo {
  width: 160px;
  height: 140px;
  margin-bottom: 11px;
}

.text-posts {
  color: $colorText4E;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 6px;
}

.comments {
  font-weight: 400;
  font-size: 11px;
  color: $colorText7C;
  margin-bottom: 11px;
}

.post-item-text-description {
  display: none;
}

.post-item:last-child {
  display: none;
}

@media (min-width: 768px) and (max-width: 1170px) {
  .post-pictures {
    display: flex;
    flex-direction: column;
  }

  .posts {
    padding: 0 80px 0 80px;
  }

  .our-posts {
    margin-top: 56px;
    margin-bottom: 24px;
  }

  .post-item:last-child {
    display: flex;
  }

  .post-item {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 32px;

    .post-item-text {
      padding-left: 11px;
      width: 395px;

      .post-item-text-description {
        display: block;
        width: 395px;
      }
    }
  }
}

@media (min-width: 1170px) {
  .post-pictures {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .our-posts {
    margin-top: 66px;
    margin-bottom: 24px;
    font-size: 16px;
  }

  .posts {
    padding: 0 75px 0 75px;
  }

  .post-item:last-child {
    display: flex;
  }

  .post-item {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 32px;

    .post-item-text:nth-child(2) {
      padding-left: 11px;
      width: 335px;

      .post-item-text-description {
        display: block;
        width: 325px;
      }
    }
  }
}
