.section-instagram {
  padding: 0 25px 0 25px;
  margin-top: 77px;
}

.last-instagram {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  color: $colorText4E;
  margin-bottom: 13px;
}

.wrapper-bike {
  margin-bottom: 42px;
}

.size-768,
.more_768,
.size-1200 {
  display: none;
}

.instagram-title {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .section-instagram {
    padding: 47px 80px 50px 90px;
    margin: 0;
    background: rgba(0, 0, 0, 0.03);
  }

  .last-instagram {
    margin-bottom: 35px;
  }

  .wrapper-bike {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .bikes {
    width: 249px;
  }

  .size-768,
  .more_768 {
    display: flex;
  }
}

@media (min-width: 1170px) {
  .section-instagram {
    padding: 47px 75px 49px 75px;
    margin: 0;
    background: rgba(0, 0, 0, 0.03);
  }

  .wrapper-bike {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .last-instagram {
    margin-bottom: 24px;
  }

  .bikes {
    width: 285px;
  }

  .size-768,
  .more_768,
  .size-1200 {
    display: flex;
  }
}
