$colorText4E: #4e4e4e;
$colorText7C: #7c7c7c;
$colorText5C: #5c5c5c;
$colorTextB9: #b9b9b9;
$colorTextFE: #fefefe;
$colorText57: #57a4a4;
$burgerColor: #f5f5f5;
$burgerHover: #e5e5e5;
$white: #ffffff;
$black: #000000;
$light-gray: #ecf0f1;
$dark-gray: #7f8c8d;

$bgMain: rgba(0, 0, 0, 0.0001);
$secondary-color: #2c3e50;

$base-font-size: 14px;
$base-line-height: 1.5;
